CvoInventarisClient/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cpu">
    <xs:sequence>
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCpu" type="xs:int" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Snelheid" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cpu" nillable="true" type="tns:Cpu" />
  <xs:complexType name="ArrayOfCpu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cpu" nillable="true" type="tns:Cpu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCpu" nillable="true" type="tns:ArrayOfCpu" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDevice" type="xs:int" />
      <xs:element minOccurs="0" name="IsPcCompatibel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serienummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="GrafischeKaart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGrafischeKaart" type="xs:int" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrafischeKaart" nillable="true" type="tns:GrafischeKaart" />
  <xs:complexType name="ArrayOfGrafischeKaart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrafischeKaart" nillable="true" type="tns:GrafischeKaart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrafischeKaart" nillable="true" type="tns:ArrayOfGrafischeKaart" />
  <xs:complexType name="ArrayOfHarddisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Harddisk" nillable="true" type="tns:Harddisk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHarddisk" nillable="true" type="tns:ArrayOfHarddisk" />
  <xs:complexType name="Harddisk">
    <xs:sequence>
      <xs:element minOccurs="0" name="grootte" type="xs:int" />
      <xs:element minOccurs="0" name="idHarddisk" type="xs:int" />
      <xs:element minOccurs="0" name="merk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Harddisk" nillable="true" type="tns:Harddisk" />
  <xs:complexType name="ArrayOfLeverancier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Leverancier" nillable="true" type="tns:Leverancier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeverancier" nillable="true" type="tns:ArrayOfLeverancier" />
  <xs:complexType name="Leverancier">
    <xs:sequence>
      <xs:element minOccurs="0" name="afkorting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="btwNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="busNummer" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="huisNummer" type="xs:int" />
      <xs:element minOccurs="0" name="iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idLeverancier" type="xs:int" />
      <xs:element minOccurs="0" name="naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postcode" type="xs:int" />
      <xs:element minOccurs="0" name="straat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefoon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="toegevoegdOp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Leverancier" nillable="true" type="tns:Leverancier" />
  <xs:complexType name="ArrayOfLokaal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lokaal" nillable="true" type="tns:Lokaal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLokaal" nillable="true" type="tns:ArrayOfLokaal" />
  <xs:complexType name="Lokaal">
    <xs:sequence>
      <xs:element minOccurs="0" name="aantalPlaatsen" type="xs:int" />
      <xs:element minOccurs="0" name="idLokaal" type="xs:int" />
      <xs:element minOccurs="0" name="idNetwerk" type="xs:int" />
      <xs:element minOccurs="0" name="isComputerLokaal" type="xs:boolean" />
      <xs:element minOccurs="0" name="lokaalNaam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lokaal" nillable="true" type="tns:Lokaal" />
  <xs:complexType name="TblInventaris">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TblInventaris" nillable="true" type="tns:TblInventaris" />
  <xs:complexType name="ArrayOfTblInventaris">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblInventaris" nillable="true" type="tns:TblInventaris" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblInventaris" nillable="true" type="tns:ArrayOfTblInventaris" />
  <xs:complexType name="TblObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TblObject" nillable="true" type="tns:TblObject" />
  <xs:complexType name="ArrayOfTblObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblObject" nillable="true" type="tns:TblObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblObject" nillable="true" type="tns:ArrayOfTblObject" />
  <xs:complexType name="TblNetwerk">
    <xs:sequence>
      <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="snelheid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblNetwerk" nillable="true" type="tns:TblNetwerk" />
  <xs:complexType name="ArrayOfTblNetwerk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblNetwerk" nillable="true" type="tns:TblNetwerk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblNetwerk" nillable="true" type="tns:ArrayOfTblNetwerk" />
</xs:schema>