CvoInventarisClient/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hardware">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cpu" nillable="true" type="tns:Cpu" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:Device" />
      <xs:element minOccurs="0" name="GrafischeKaart" nillable="true" type="tns:GrafischeKaart" />
      <xs:element minOccurs="0" name="Harddisk" nillable="true" type="tns:Harddisk" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hardware" nillable="true" type="tns:Hardware" />
  <xs:complexType name="Cpu">
    <xs:sequence>
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCpu" type="xs:int" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Snelheid" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cpu" nillable="true" type="tns:Cpu" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDevice" type="xs:int" />
      <xs:element minOccurs="0" name="IsPcCompatibel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serienummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="GrafischeKaart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGrafischeKaart" type="xs:int" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrafischeKaart" nillable="true" type="tns:GrafischeKaart" />
  <xs:complexType name="Harddisk">
    <xs:sequence>
      <xs:element minOccurs="0" name="FabrieksNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grootte" type="xs:int" />
      <xs:element minOccurs="0" name="IdHarddisk" type="xs:int" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Harddisk" nillable="true" type="tns:Harddisk" />
  <xs:complexType name="ArrayOfHardware">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hardware" nillable="true" type="tns:Hardware" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHardware" nillable="true" type="tns:ArrayOfHardware" />
  <xs:complexType name="ArrayOfHarddisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Harddisk" nillable="true" type="tns:Harddisk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHarddisk" nillable="true" type="tns:ArrayOfHarddisk" />
  <xs:complexType name="ArrayOfLeverancier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Leverancier" nillable="true" type="tns:Leverancier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeverancier" nillable="true" type="tns:ArrayOfLeverancier" />
  <xs:complexType name="Leverancier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afkorting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BtwNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusNummer" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HuisNummer" type="xs:int" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdLeverancier" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" type="xs:int" />
      <xs:element minOccurs="0" name="Straat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefoon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToegevoegdOp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Leverancier" nillable="true" type="tns:Leverancier" />
  <xs:complexType name="ArrayOfLokaal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lokaal" nillable="true" type="tns:Lokaal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLokaal" nillable="true" type="tns:ArrayOfLokaal" />
  <xs:complexType name="Lokaal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AantalPlaatsen" type="xs:int" />
      <xs:element minOccurs="0" name="IdLokaal" type="xs:int" />
      <xs:element minOccurs="0" name="IsComputerLokaal" type="xs:boolean" />
      <xs:element minOccurs="0" name="LokaalNaam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lokaal" nillable="true" type="tns:Lokaal" />
  <xs:complexType name="ArrayOfFactuur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Factuur" nillable="true" type="tns:Factuur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactuur" nillable="true" type="tns:ArrayOfFactuur" />
  <xs:complexType name="Factuur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afschrijfperiode" type="xs:int" />
      <xs:element minOccurs="0" name="Boekjaar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CvoVolgNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatumInsert" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactuurDatum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactuurNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Garantie" type="xs:int" />
      <xs:element minOccurs="0" name="IdFactuur" type="xs:int" />
      <xs:element minOccurs="0" name="Leverancier" nillable="true" type="tns:Leverancier" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opmerking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prijs" type="xs:int" />
      <xs:element minOccurs="0" name="ScholengroepNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserInsert" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserModified" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factuur" nillable="true" type="tns:Factuur" />
  <xs:complexType name="ArrayOfCampus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Campus" nillable="true" type="tns:Campus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampus" nillable="true" type="tns:ArrayOfCampus" />
  <xs:complexType name="Campus">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCampus" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Straat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campus" nillable="true" type="tns:Campus" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAccount" type="xs:int" />
      <xs:element minOccurs="0" name="Wachtwoord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAccount" type="xs:int" />
      <xs:element minOccurs="0" name="IdSession" type="xs:int" />
      <xs:element minOccurs="0" name="Tijdstip" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bericht" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTicket" type="xs:int" />
      <xs:element minOccurs="0" name="Ontvanger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tijdstip" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Verzender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="ArrayOfCpu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cpu" nillable="true" type="tns:Cpu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCpu" nillable="true" type="tns:ArrayOfCpu" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="ArrayOfGrafischeKaart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrafischeKaart" nillable="true" type="tns:GrafischeKaart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrafischeKaart" nillable="true" type="tns:ArrayOfGrafischeKaart" />
  <xs:complexType name="Inventaris">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aankoopjaar" type="xs:int" />
      <xs:element minOccurs="0" name="Afschrijvingsperiode" type="xs:int" />
      <xs:element minOccurs="0" name="Historiek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAanwezig" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActief" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lokaal" nillable="true" type="tns:Lokaal" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="tns:Object" />
      <xs:element minOccurs="0" name="Verzekering" nillable="true" type="tns:Verzekering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventaris" nillable="true" type="tns:Inventaris" />
  <xs:complexType name="Object">
    <xs:sequence>
      <xs:element minOccurs="0" name="Factuur" nillable="true" type="tns:Factuur" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kenmerken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Leverancier" nillable="true" type="tns:Leverancier" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="tns:ObjectTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Object" nillable="true" type="tns:Object" />
  <xs:complexType name="ObjectTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectTypes" nillable="true" type="tns:ObjectTypes" />
  <xs:complexType name="Verzekering">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Verzekering" nillable="true" type="tns:Verzekering" />
  <xs:complexType name="ArrayOfInventaris">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventaris" nillable="true" type="tns:Inventaris" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventaris" nillable="true" type="tns:ArrayOfInventaris" />
  <xs:complexType name="ArrayOfObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Object" nillable="true" type="tns:Object" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObject" nillable="true" type="tns:ArrayOfObject" />
  <xs:complexType name="Netwerk">
    <xs:sequence>
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Merk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Snelheid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Netwerk" nillable="true" type="tns:Netwerk" />
  <xs:complexType name="ArrayOfNetwerk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Netwerk" nillable="true" type="tns:Netwerk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetwerk" nillable="true" type="tns:ArrayOfNetwerk" />
  <xs:complexType name="ArrayOfVerzekering">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Verzekering" nillable="true" type="tns:Verzekering" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVerzekering" nillable="true" type="tns:ArrayOfVerzekering" />
  <xs:complexType name="ArrayOfObjectTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectTypes" nillable="true" type="tns:ObjectTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectTypes" nillable="true" type="tns:ArrayOfObjectTypes" />
</xs:schema>