CvoInventarisClient/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50881/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" />
  <xs:element name="CpuGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="CpuGetByIdResult" nillable="true" type="q1:Cpu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="CpuGetAllResult" nillable="true" type="q2:ArrayOfCpu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="c" nillable="true" type="q3:Cpu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CpuCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="c" nillable="true" type="q4:Cpu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CpuUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CpuDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="DeviceGetByIdResult" nillable="true" type="q5:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="DeviceGetAllResult" nillable="true" type="q6:ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="d" nillable="true" type="q7:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="d" nillable="true" type="q8:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GrafischeKaartGetByIdResult" nillable="true" type="q9:GrafischeKaart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GrafischeKaartGetAllResult" nillable="true" type="q10:ArrayOfGrafischeKaart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="g" nillable="true" type="q11:GrafischeKaart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrafischeKaartCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="g" nillable="true" type="q12:GrafischeKaart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrafischeKaartUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrafischeKaartDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrafischeKaartDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarddisks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarddisksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GetHarddisksResult" nillable="true" type="q13:ArrayOfHarddisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarddiskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHarddiskByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GetHarddiskByIdResult" nillable="true" type="q14:Harddisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHarddisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="h" nillable="true" type="q15:Harddisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHarddiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHarddiskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHarddisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="h" nillable="true" type="q16:Harddisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHarddiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHarddiskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHarddisk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="h" nillable="true" type="q17:Harddisk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHarddiskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHarddiskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeveranciers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeveranciersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GetLeveranciersResult" nillable="true" type="q18:ArrayOfLeverancier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeverancierById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeverancierByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GetLeverancierByIdResult" nillable="true" type="q19:Leverancier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLeverancier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="l" nillable="true" type="q20:Leverancier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLeverancierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLeverancierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLeverancier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="l" nillable="true" type="q21:Leverancier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLeverancierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLeverancierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeverancier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="l" nillable="true" type="q22:Leverancier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeverancierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLeverancierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLokalen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLokalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GetLokalenResult" nillable="true" type="q23:ArrayOfLokaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLokaalById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLokaalByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="GetLokaalByIdResult" nillable="true" type="q24:Lokaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLokaal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="l" nillable="true" type="q25:Lokaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLokaalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLokaalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLokaal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="l" nillable="true" type="q26:Lokaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLokaalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLokaalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLokaal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="l" nillable="true" type="q27:Lokaal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLokaalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLokaalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="inventaris" nillable="true" type="q28:TblInventaris" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InventarisCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisReadAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisReadAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="InventarisReadAllResult" nillable="true" type="q29:ArrayOfTblInventaris" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisReadOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisReadOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="InventarisReadOneResult" nillable="true" type="q30:TblInventaris" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="inventaris" nillable="true" type="q31:TblInventaris" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InventarisUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventarisDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InventarisDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="Object" nillable="true" type="q32:TblObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectReadAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectReadAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="ObjectReadAllResult" nillable="true" type="q33:ArrayOfTblObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectReadOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectReadOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="ObjectReadOneResult" nillable="true" type="q34:TblObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="Object" nillable="true" type="q35:TblObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="Netwerk" nillable="true" type="q36:TblNetwerk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NetwerkCreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkReadAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkReadAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="NetwerkReadAllResult" nillable="true" type="q37:ArrayOfTblNetwerk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkReadOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkReadOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="NetwerkReadOneResult" nillable="true" type="q38:TblNetwerk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfServiceCvoInventaris" minOccurs="0" name="Netwerk" nillable="true" type="q39:TblNetwerk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NetwerkUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetwerkDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NetwerkDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>